# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.local
.env.*
*.log
.pytest_cache/

# Node / Frontend
node_modules/
/frontend/build
/frontend/dist
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
